.header {
  background-color: rgb(231, 35, 35);
  color: rgb(255, 255, 255);
  margin-top: 12px;
  padding-left: 20px;

}

.border {
  border: 8px solid rgb(231, 35, 35);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0px;
  margin-right: 5%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.date-column {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 2px dashed rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.content {
  color: rgb(255, 255, 255);
}

.header {
  background-color: rgb(231, 35, 35);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 28px;
}


.background-image  {
  background-image: url(src/photos/Trackphoto.jpg);
  scale: cover;
  background-size: cover;
}

.winner {
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px double rgb(255, 255, 255);
  border-radius: 16px;
  padding: 10px;
}
