
ion-tab-button.tab-selected,
ion-tab-button:hover,
ion-tab-button:focus {
  --color: rgb(231, 35, 35);
}

ion-tab-button.tab-selected ion-icon,
ion-tab-button:hover ion-icon,
ion-tab-button:focus ion-icon {
  color: rgb(231, 35, 35);
}

ion-tab-button.tab-selected ion-label,
ion-tab-button:hover ion-label,
ion-tab-button:focus ion-label {
  color: rgb(231, 35, 35);
}

.constructorImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px; // match IonIcon size
  width: 24px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

