.toolBarHeader {
  font-size: 28px;
  font-weight: bolder;
  margin-top: 12px;
  padding-left: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
}

.flex-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
