<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large" class="header" >Constructors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let standing of constructors_championship let i = index" >

    <ion-grid size="12" class="ion-no-padding">
      <ion-row class = "row">
        <ion-col class = "col1" size="2.5">
          
          {{ standing.position }}
         
        </ion-col>
        <ion-col class = "col2" size="8.5">

         <ion-card-header class="col2-padding col2-Name">
           {{ standing.teamId }} 
         </ion-card-header>
        </ion-col> 

        <ion-col class = "col3 drivers-background" size="3"> 
          <ion-chip class = "Chip-Points"> 
            {{ standing.points }}PTS
          </ion-chip>
        </ion-col>
        
    </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

