.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
}

.flex-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
