<ion-header>
  <ion-toolbar>
    <ion-title Class = "toolBarHeader">CONSTRUCTORS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let standing of constructors_championship let i = index">
    <ion-card-header>
      <div class="flex-container">
        <div>
          <ion-card-title class = "proper-case">
             {{ standing.teamId.replace('_', ' ').replace('rb', 'Racing Bulls') }}</ion-card-title>
             <ion-card-subtitle> {{ standing.team.country }}</ion-card-subtitle>
             
        </div>
        <img
          *ngIf="i < 3"
          class="position-medal-icon"
          [src]="'./../../../assets/icon/' + (i === 0 ? 'gold' : i === 1 ? 'silver' : 'bronze') + '-medal.png'"
          [alt]="'Position ' + standing.position"
        />
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>
        <div class="flex-footer-container">
          <ion-chip> {{ standing.wins || 0 }} Wins </ion-chip>
          <ion-chip> {{ standing.points }} PTS </ion-chip>
        </div>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>