.chevronColumn {
    display: flex;       
    justify-content: flex-end; 
    align-items: center;        
    padding-right: 10px;       
  }


.chevron {
  color: rgb(231, 35, 35);
  font-size: 25px;
}

.ion-color-round {
  color: rgb(231, 35, 35);
}

.header {
  color: rgb(255, 255, 255);
  background-color: rgb(231, 35, 35);

}
.country {
  font-size: 20px;
}