.chevronColumn {
    display: flex;               /* Enables Flexbox */
    justify-content: flex-end;   /* Pushes content to the right */
    align-items: center;         /* Centers content vertically */
    padding-right: 15px;         /* Adds 15px padding on the right */
  }


.chevron {
  color: rgb(231, 35, 35);
  font-size: 10px;
}

.ion-color-round {
  color: rgb(231, 35, 35);
}