<ion-header>
  <ion-toolbar>
    <ion-title class = "header">RACING</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card
    *ngFor="let race of races let i = index"
    #raceCard
    [class.next-race]="i === nextRaceIndex"
  >
    <ion-grid size="12" class="ion-no-padding">
      <ion-row class="row">
        <ion-col
          size="2"
          class="date-column"
          *ngIf="race?.schedule?.fp1?.date"
        >
          {{ (race.schedule.fp1.date + 'T' + race.schedule.fp1.time) | date:'dd' }}-{{
          (race.schedule.race.date + 'T' + race.schedule.race.time) | date:'dd' }} <br />
          <ion-chip>{{ race.schedule.race.date | date: 'MMM'}}</ion-chip>
        </ion-col>

        <ion-col>
          <ion-card-header class="ion-no-padding-bottom">
            <ion-card-title class="ion-color-round"
              >Round {{ race.round }}</ion-card-title
            >

            <ion-card-subtitle class="country">
              {{ race.circuit.country }}
            </ion-card-subtitle>

          </ion-card-header>

          <ion-card-content class="content">
            {{ race.raceName }}
          </ion-card-content>
        </ion-col>

        <ion-col class="chevronColumn">
          <ion-segment-button
            class="chevronButton"
            (click)="setRaceAndNavigate(race)"
            target="_self"
          >
            <ion-icon class="chevron" name="chevron-forward-sharp"></ion-icon>
          </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
