<ion-header>
  <ion-toolbar>
    <ion-title>DRIVERS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let standing of drivers_championship let i = index">
    <ion-card-header>
      <div class="flex-container">
        <div>
          <ion-card-subtitle> {{ standing.driver.name }}</ion-card-subtitle>
          <ion-card-title> {{ standing.driver.surname}} </ion-card-title>
        </div>
        <img
          *ngIf="i < 3"
          class="position-medal-icon"
          [src]="'./../../../assets/icon/' + (i === 0 ? 'gold' : i === 1 ? 'silver' : 'bronze') + '-medal.png'"
          [alt]="'Position ' + standing.position"
        />
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>
        <div class="flex-footer-container">
          {{ standing.team.teamId.replace('_', ' ') }}
          <ion-chip> {{ standing.points }} PTS </ion-chip>
        </div>
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
